a{
	text-decoration: none !important;
}
.colores{
	margin-top: 10px;
}
.colores .cuadro{
	width: 70px;
	height: 15px;
	color: #fff;
}
.colores .ctitulo{
	padding-right: 30px;
}
.cpresencial{
	background-color:#1d5ee9;

}
.cvirtual{
	background-color:#c22e28;
	width: 70px;
	height: 15px;
}
.cauditorio{
	background-color:#0aaf33;
	width: 70px;
	height: 15px;
}


.fc-sat, .fc-sun{
	background-color: #dcfcda;
}
.fc-month-view span.fc-title{
    white-space: normal;
}
.mifooter{
	text-align: center;
	text-decoration: none;
	width:100%;
	margin-top: 20px;
}
.mifooter a{
	color:#3b3e59 !important;
}

.mifooter span{
	color: #0b0e30;
	font-size: 20px;
}
.mifooter .icon-heart{
	font-size: 14px;
}