a{
	text-decoration: none !important;
}
.colores{
	display: block;
	margin-top: 10px;

}
.cpresencial{
	background-color:#1d5ee9;
	width: 70px;
	height: 15px;
	float: right;
}
.cvirtual{
	background-color:#c22e28;
	width: 70px;
	height: 15px;
	float: right;
}
.cauditorio{
	background-color:#0aaf33;
	width: 70px;
	height: 15px;
	float: right;
}


.fc-sat, .fc-sun{
	background-color: #dcfcda;
}
.mifooter{
	text-align: center;
	text-decoration: none;
	width:100%;
	margin-top: 20px;
}
.mifooter a{
	color:#3b3e59 !important;
}

.mifooter span{
	color: #0b0e30;
	font-size: 20px;
}
.mifooter .icon-heart{
	font-size: 14px;
}